<div class='area'>
  <div class="tree" *ngIf='tree.root.itemArray[0] != undefined'>

    <!--BEGIN ROOT-->
    <ul>
      <li>
        <a href="#" id='treeNode'>
          <div style='display:inline-block' *ngFor='let item of tree.root.itemArray'>
            <div *ngIf='item != undefined'>
              <p>
                <span>&nbsp;</span>
                {{item.dData}}
                <span>&nbsp;</span>
              </p>
            </div>
          </div>
        </a>

        <!-- BEGIN CHILDREN -->
        <ul *ngIf='!tree.root.isLeaf()'>
          <div>
            <li *ngFor='let child of tree.root.childArray'>
              <div *ngIf='child != undefined'>
                <a href="#" id='treeNode'>
                  <div style='display:inline-block' *ngFor='let item of child.itemArray'>
                    <div *ngIf='item != undefined'>
                      <p>
                        <span>&nbsp;</span>
                        {{item.dData}}
                        <span>&nbsp;</span>
                      </p>
                    </div>
                  </div>
                </a>
                <ul *ngIf='!child.isLeaf()'>
                  <li *ngFor='let grandChild of child.childArray'>
                    <div *ngIf='grandChild != undefined'>
                      <a href="#" id='treeNode'>
                        <div style='display:inline-block' *ngFor='let items of grandChild.itemArray'>
                          <div *ngIf='items != undefined'>
                            <p>
                              <span>&nbsp;</span>
                              {{items.dData}}
                              <span>&nbsp;</span>
                            </p>
                          </div>
                        </div>
                      </a>
                      <ul *ngIf='!grandChild.isLeaf()'>
                        <li *ngFor='let ggrandChild of grandChild.childArray'>
                          <div *ngIf='ggrandChild != undefined'>
                            <a href="#" id='treeNode'>
                              <div style='display:inline-block' *ngFor='let itemss of ggrandChild.itemArray'>
                                <div *ngIf='itemss != undefined'>
                                  <p>
                                    <span>&nbsp;</span>
                                    {{itemss.dData}}
                                    <span>&nbsp;</span>
                                  </p>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </div>
        </ul>
        <!-- END CHILDREN -->

      </li>
    </ul>
    <!--END ROOT -->

  </div>
</div>
<!-- END Tree -->
<div class='example-container'>
  <div class="group">
    <mat-form-field [floatPlaceholder]='options.value.floatPlaceholder' color='warn'>
      <div class='row'>
        <input matInput type="number" placeholder='Tree Data' [(ngModel)]="value" (keyup.enter)='insert(value)' />
        <button mat-button color='warn' (click)='insert(value)'>Enter</button>
      </div>
    </mat-form-field>
    <div class='row2'>
      <button mat-raised-button matTooltip='Populate the Tree with random values' color='warn' (click)='populate()'>Populate</button>
      <button mat-raised-button matTooltip='Clear the Tree' color='warn' (click)='clear()'>Clear</button>
      <div style='display:flex; flex-direction:row; align-items:center;'>
        <h3>Current Order: &nbsp;{{order}}</h3>
        <div style='display:flex; align-items:center; flex-direction:column; font-size:3em;'>
          <button mat-icon-button color='warn' (click)='orderUp()'>
            <mat-icon>
              keyboard_arrow_up
            </mat-icon>
          </button>
          <button mat-icon-button color='warn' (click)='orderDown()'>
            <mat-icon>
              keyboard_arrow_down
            </mat-icon>
          </button>
        </div>

      </div>

    </div>
  </div>
