<div class="tree" *ngIf='root.itemArray[0] != undefined'>

  <!--BEGIN ROOT-->
  <ul>
    <li>
      <a href="#">
        <div style='display:inline-block' *ngFor='let item of root.itemArray'>
          <div *ngIf='item != undefined'>
            <p>
              <span>&nbsp;</span>
              {{item.dData}}
              <span>&nbsp;</span>
            </p>
          </div>
        </div>
      </a>

      <!-- BEGIN CHILDREN -->
      <ul *ngIf='!root.isLeaf()'>
        <div>
          <li *ngFor='let child of root.childArray'>
            <div *ngIf='child != undefined'>
              <a href="#">
                <div style='display:inline-block' *ngFor='let item of child.itemArray'>
                  <div *ngIf='item != undefined'>
                    <p>
                      <span>&nbsp;</span>
                      {{item.dData}}
                      <span>&nbsp;</span>
                    </p>
                  </div>
                </div>
              </a>
              <ul *ngIf='!child.isLeaf()'>
                <li *ngFor='let grandChild of child.childArray'>
                  <div *ngIf='grandChild != undefined'>
                    <a href="#">
                      <div style='display:inline-block' *ngFor='let items of grandChild.itemArray'>
                        <div *ngIf='items != undefined'>
                          <p>
                            <span>&nbsp;</span>
                            {{items.dData}}
                            <span>&nbsp;</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </div>
      </ul>

    </li>
  </ul>
</div>
<div class="group">
  <input type="text" #value id='value' required="required" (keyup.enter)='insert(value.value)' />
  <label for="value">Enter Tree Data Here</label>
  <div class="bar"></div>
</div>

